<section class="vh-100 registration-page" style="background-color: #eee;" >
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form class="mx-1 mx-md-4" #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">
  
                    <div class="d-flex flex-row align-items-center mb-4 input-err">
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="text" id="form3Example1c" name="userName" class="form-control" ngModel required #nameCtrl="ngModel"/>
                        <label class="form-label" for="form3Example1c">Your Name</label>
                      </div>
                      <div *ngIf="nameCtrl.invalid && nameCtrl.touched" class="err-msg">Please Enter Valid Name</div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4 input-err">
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="email" id="form3Example3c" class="form-control" name="emailId" email ngModel required #emailCtrl="ngModel"/>
                        <label class="form-label" for="form3Example3c">Your Email</label>
                      </div>
                      <div *ngIf="emailCtrl.invalid && emailCtrl.touched" class="err-msg">Please Enter Valid Email</div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4 input-err">
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4c" name="password" class="form-control" ngModel required #passwordCtrl="ngModel" minlength="8"/>
                        <label class="form-label" for="form3Example4c">Password</label>
                      </div>
                      <div *ngIf="passwordCtrl.invalid && passwordCtrl.touched" class="err-msg">Please Enter Valid Password</div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4 input-err">
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4cd" name="cnfmPswd" class="form-control" ngModel required #cnfmPswdCtrl="ngModel" minlength="8"/>
                        <label class="form-label" for="form3Example4cd">Repeat your password</label>
                      </div>
                      <div *ngIf="cnfmPswdCtrl.invalid && cnfmPswdCtrl.touched" class="err-msg">Please Enter Valid Password</div>
                    </div>
  
                    <div class="form-check d-flex justify-content-center mb-5">
                      <label class="form-check-label" for="form2Example3">
                       Already have an account <a href="javascript:void(0)" (click)="navigateToLogin()">Login</a>
                      </label>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button  type="submit" [disabled]="registrationForm.invalid" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" >Register</button>
                    </div>
                  </form>

                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="assets/todoimage-registration.jpg"
                    class="todo-registration-img" alt="Sample image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>