.registration-page{
    .mb-4 {
        margin-bottom: 0px!important;
    }
    .todo-registration-img{
        height: 80% !important;
    }
    .align-items-center {
        align-items: center !important;
        justify-content: center !important;
    }
    .input-err{
        display: block !important;
    }
}