.err-msg{
    color:red;
    font-size: 10px;
}
.edit-btn{
    border: 1px solid #3d3d55;
    border-radius: 5px;
    background: aqua;
    font-size: 12px;
    
}
.del-btn{
    border: 1px solid red;
    border-radius: 5px;
    background: #b4d2d2;
    font-size: 12px;
}

